<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Edit Patient Advocates</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
		<script th::inline="javascript">
		/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
		/*<![CDATA[*/
 			var app = angular.module("manageUsersApp", []);
			app.controller("manageUsersCtrl", function($scope, $http) {
				
				var checkValidUserForm = function(user) {
					var err = [];
				
	       	        if( $scope.user.password === $scope.user.password2) {
					    // do nothing
					} else {
						err.push("passwords do not match" );
					}
	 				if( $scope.user.password.length < 6)
	 					err.push("Password must be more than 6 characters long");
					return err.join(".  ");
				}
				
			
		    $scope.users = [];
	        $scope.loadUsers = function () {
	          $http.get("/iTrust2/api/v1/pas").then(
	            function (response) {
	              $scope.users = response.data;
	              $scope.message = "";
	            }, function (rejection) {
	              $scope.users = [];
	              $scope.message = "Could not display users";
	            });
	        }
	        
	        $scope.updateUser = function () {
	        	
	        	let roles = [];
	        	
				for (let [key, value] of Object.entries($scope.user.roles)) {
					console.log($scope.user.roles);
					  if(value === true) roles.push(key);
				}
				
				$scope.user.roles = roles;
	        	
		          var err = checkValidUserForm($scope.user);
		          if (err) {
		            $scope.errorAdding = err;
		            $scope.successMessage = "";
		          } else {
		            $http.put("/iTrust2/api/v1/pas/" + $scope.user.username, $scope.user).then(
		              function (response) {
		            	    $scope.loadUsers();
		                $scope.user.username = "";
		                $scope.user.password = "";
		                $scope.user.password2 = "";
		                $scope.user.firstName = "";
		                $scope.user.middleName = "";
		                $scope.user.lastName = "";
		                $scope.user.preferredName = "";
		                $scope.user.email = "";
		                $scope.user.phone = "";
		                $scope.user.address1 = "";
		                $scope.user.address2 = "";
		                $scope.user.city = "";
		                $scope.user.state = "";
		                $scope.user.zip = "";
		                $scope.user.prescription = false;
		                $scope.user.billing = false;
		                $scope.user.officeVisit = false;
		                
		                
		                $scope.errorAdding = "";
		                $scope.successMessage = "User added successfully.";
		              }, function (rejection) {
		            	    $scope.loadUsers();
		                $scope.errorAdding = "Could not add User: " + rejection.data.message;
		                $scope.successMessage = "";
		              });
		          }
	        }
			
	        $scope.editUser = function(user) {
	            $http.get('/iTrust2/api/v1/users/' + user.username).then(
	              function (response) {
	                $scope.user = response.data;
	              }, function (rejection) {
	                $scope.message = "Could not edit user";
	              });
	          }
	        
	        $scope.editRoles = function (user){
	        	
	        }

	        $scope.getTemplate = function (user) {
	          return 'view';
	        };
	        
	        $scope.enabledText = function(user) {
	        	  if(user.enabled) {
	        		  return 'yes';        		  
	        	  } else {
	        		  return 'no';
	        	  }
	        }
	        
        	$scope.roles = [
	        	    "ROLE_PATIENT",
	        	    "ROLE_HCP" ,
	        	    "ROLE_OD" ,
	        	    "ROLE_OPH" ,
	        	    "ROLE_ADMIN", 
	        	    "ROLE_ER",
	        	    "ROLE_VIROLOGIST", 
	        	    "ROLE_LABTECH" ,
	        	    "ROLE_VACCINATOR",
	        	    "ROLE_BSM",
	        	    "ROLE_PA",
	        ];
        	

        	
	        
	        $scope.getRole = function(user) {
	        	return user.roles.join(", ");
	        }
			
		$scope.loadUsers();
		});
			
</script>
		<div ng-app="manageUsersApp" ng-controller="manageUsersCtrl">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3>Edit Patient Advocates</h3>
							</div>
							<div class="panel-body">
								<table class="table table-bordered">
									<caption>Existing Users:</caption>
									<thead>
										<tr>
											<th>Username</th>
											<th>Role(s)</th>
											<th>Enabled</th>
											<th>Edit User</th>
										</tr>
									</thead>
									<tbody>
										<tr name="userTableRow"
											ng-repeat="u in users | orderBy: 'name'"
											ng-include="getTemplate(u)" userId={{u.username}}>
										</tr>
									</tbody>
								</table>
								<script type="text/ng-template" id="view">
                <td name="nameCell">{{u.username}}</td>
			    <td name="roleCell">{{getRole(u)}}</td>
				<td name="enabledCell">{{enabledText(u)}}</td>
                <td> 
                  <div class="row text-center">
                    <div class="col-md-6">
                      <input type="button" value="Edit" class="btn btn-danger" name="editUser" ng-click="editUser(u)"/>                          
                    </div>
                  </div>
                </td>
                </script>
								<br>
								<style>
form {
	width: 400px;
}

.label {
	float: right;
	text-align: left;
	width: 200px;
	height: 20px;
	color: #000000
}

input[type=text] {
	float: right;
	text-align: left;
	width: 200px;
	height: 20px
}

input[type=password] {
	float: right;
	text-align: left;
	width: 200px;
	height: 20px
}

.clear {
	clear: both;
	height: 0;
	line-height: 0;
}

.floatright {
	float: right;
}
</style>


								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Add a User</div>
											<div class="panel-body">
												<form name="updateUserForm"
													ng-submit="updateUser(updateUserForm.$valid)">
													<b>Username:</b> <input type="text" name="username"
														id="username" ng-model="user.username" /> <br> <br>
													<b>Password:</b> <input type="password" name="password"
														id="password" ng-model="user.password" /> <br> <br>
													<b>Password (again):</b> <input type="password"
														name="password2" id="password2" ng-model="user.password2" /> <br> <br> 
													<b>First name:</b> <input type="text" name="firstName"
														id="firstName" ng-model="user.firstName" /> <br> <br>
													<b>Middle name:</b> <input type="text" name="middletName"
														id="middleName" ng-model="user.middleName" /> <br> <br>
													<b>Last name:</b> <input type="text" name="lastName"
														id="lastName" ng-model="user.lastName" /> <br> <br>
													<b>Preferred name:</b> <input type="text" name="preferredName"
														id="preferredName" ng-model="user.preferredName" /> <br> <br>
													<b>Street Address 1:</b> <input type="text" name="street"
														id="street" ng-model="user.street" /> <br> <br>
													<b>Street Address 2:</b> <input type="text" name="street2"
														id="street2" ng-model="user.street2" /> <br> <br>
													<b>City:</b> <input type="text" name="city"
														id="city" ng-model="user.city" /> <br> <br>
													<b>State:</b> <input type="text" name="state"
														id="state" ng-model="user.state" /> <br> <br>
													<b>Zipcode:</b> <input type="text" name="zip"
														id="zip" ng-model="user.zip" /> <br> <br>
													<b>Phone number:</b> <input type="text" name="phone"
														id="phone" ng-model="user.phone" /> <br> <br>
													<b>Email:</b> <input type="text" name="email"
														id="email" ng-model="user.email" /> <br> <br>
													<b>Prescriptions:</b> <input type="checkbox"
														name="prescription" class="checkbox" ng-model="user.prescription" />
													<b>Billing:</b> <input type="checkbox"
														name="billing" class="checkbox" ng-model="user.billing" />
													<b>Office Visits:</b> <input type="checkbox"
														name="office" class="checkbox" ng-model="user.office" />

													<br> <input type="submit" id="submit" value="Update User" />
												</form>
												<div>
													<p style="color: red" ng-model="errorAdding" id="error">{{errorAdding}}</p>
												</div>
												<div>
													<p style="color: green" ng-model="successMessage"
														id="success">{{successMessage}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>